body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* VARIABLES */

:root{

  /* COLORS */
  --primary: #FED209;
  --secondary: #1D7874;
  --whitesmoke: #F1F3F0;
  --gray: #959595;
  --dark: #091716;


}

/* BACKGROUNDS COLORS */

.bg-primary{
  background-color: var(--primary);
}

.bg-secondary{
  background-color: var(--secondary);
}

.text-primary{
  color: var(--primary);
}

.text-secondary{
  color: var(--secondary)
}

.text-gray{
  color: var(--gray)
}

.border-primary{
  border: var(--primary) 2px solid;
}

div.border-primary:hover{
  border: var(--secondary) 2px solid;
}